{
    "apiKey": "AIzaSyDp720CsSxey843XC8mQqL91Oqt1b4PDA0",
    "authDomain": "yourapp-e1234.firebaseapp.com",
    "databaseURL": "https://yourapp-e1234.firebaseio.com",
    "storageBucket": "yourapp-e1234.appspot.com",
    "messagingSenderId": "873109218241"
}
